.git
.github
.claude
.cursor

.env*
!docker/.env.placeholder

node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo

coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report

z
config/external-services.json*
*.tsbuildinfo
**/*.tsbuildinfo
